.cabecalho__menu-hamburguer {
    width: 42px;
    height: 42px;
    background-image: url(../imagens/menu_black_24dp\ 1.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}
